@if(product) {
<div class="product-card">
  <div class="product-image">
    <img [src]="product.thumbnail" alt="{{ product.title }}" />
    <i (click)="addToCart(product)" class="fa-solid fa-cart-plus icon"></i>
    <i
      class="fa-regular fa-eye icon"
      (click)="navigateToProductDetail(product.id)"
    ></i>
    <p
      class="product-stock"
      [ngClass]="{
        'out-of-stock': product.stock === 0,
        'in-stock': product.stock > 0
      }"
    >
      {{ product.stock === 0 ? "Out of Stock" : "In Stock" }}
    </p>
  </div>
  <div class="product-details">
    <div style="display: flex; justify-content: space-between">
      <h3 class="product-title">{{ product.title }}</h3>
      <p class="product-price">
        {{ product.price * 50 | currency : "EGP " }}
      </p>
    </div>
    <p class="product-description">{{ product.description }}</p>
    <div class="product-rating">
      @for (star of [1, 2, 3, 4, 5]; track star) {
      <span [ngClass]="{ filled: star <= product.rating }">&#9733;</span>
      }
    </div>
  </div>
</div>
}
